<a href="https://colab.research.google.com/github/2kdatawizard/data_engineering_interviews/blob/main/dataengineering_live_coding_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Open ended questions

Sample questions

Live Coding Exercise

This is the live coding challenge and you will be working alongside the interviewee, it would be great if you could explain your methodology throughout. Please stick to a soft maximum of 10 minutes for each individual exercise. 5 mins extra is permitted if needed.

In [ ]:
!pip install pysqlite-binary

Collecting pysqlite-binary
  Downloading pysqlite_binary-0.5.1.3380300-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.0/4.0 MB 13.5 MB/s eta 0:00:00
Installing collected packages: pysqlite-binary
Successfully installed pysqlite-binary-0.5.1.3380300

In [ ]:
import pysqlite3
import pandas as pd

# load dvla data
database = pysqlite3.connect(":memory:")
file_name = "https://b39d430f-95b5-4c1f-9333-13e99afd263b.usrfiles.com/ugd/b39d43_62d594a003294a6d949cc5599f238d90.csv"
df = pd.read_csv(file_name)
df.to_sql(
    name="uk_dvla_data",
    index=False,
    con=database,
    if_exists="replace"
)

# load demographics data
file_name = "https://b39d430f-95b5-4c1f-9333-13e99afd263b.usrfiles.com/ugd/b39d43_08faa9181a9b4a488dffdbf859821eaa.csv"
df = pd.read_csv(file_name)
df.to_sql(
    name="uk_demographics_data",
    index=False,
    con=database,
    if_exists="replace"
)

<ipython-input-11-5cfe6c3bba22>:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(
<ipython-input-11-5cfe6c3bba22>:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(

16

In [ ]:
# Lets load the whole data here for exploration
query="""
-- SELECT * FROM uk_dvla_data
-- SELECT * FROM uk_demographics_data
"""
# Run this command to return the output to a DataFrame
pd.read_sql(
  sql=query,
  con=database
)

<ipython-input-14-dde2ac8eb48f>:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(

    age age_band  average_income employment_rate urban_population_percentage
0    17    Youth            8000             30%                         75%
1    18    Youth            8500             32%                         78%
2    19    Youth            9000             34%                         80%
3    20    Youth            9500             36%                         82%
4    21    Youth           10000             38%                         84%
5    22    Youth           10500             40%                         85%
6    23    Youth           11000             42%                         86%
7    24    Adult           11500             44%                         88%
8    25    Adult           12000             46%                         90%
9    30    Adult           15000             70%                         92%
10   35    Adult           18000             72%                         90%
11   40    Adult           20000             75%                         88%
12   45    Adult           22000             77%                         85%
13   50   Senior           23000             78%                         80%
14   55   Senior           24000             79%                         75%
15   60   Senior           25000             80%                         70%

In [ ]:
# Q1
# Write a SQL query to identify the age group with the third highest pass rate

query="""
SELECT * FROM uk_dvla_data
"""
# Run this command to return the output to a DataFrame
pd.read_sql(
  sql=query,
  con=database
)

In [ ]:
# Q2
# Write a SQL query to analyze the impact of urban population on pass rates

query="""
SELECT * FROM uk_dvla_data
"""
# Run this command to return the output to a DataFrame
pd.read_sql(
  sql=query,
  con=database
)

In [ ]:
# Q3
# Write a SQL query to find the year with the highest
# pass rate for female candidates. Include both the number of passed tests and the
# total tests taken in your result

# Lets load the whole data here for exploration

query="""
SELECT * FROM uk_dvla_data
"""
# Run this command to return the output to a DataFrame
pd.read_sql(
  sql=query,
  con=database
)

In [ ]:
# Q4
# Calculate the running total of driving tests taken by each age group over
# the years. Order the result by age and year

query="""
SELECT * FROM uk_dvla_data
"""
# Run this command to return the output to a DataFrame
pd.read_sql(
  sql=query,
  con=database
)

In [ ]:
# Q4
# Provide the ratio of passed tests to failed tests for each age group,
# sorted by this ratio in descending order

query="""
SELECT * FROM uk_dvla_data
"""
# Run this command to return the output to a DataFrame
pd.read_sql(
  sql=query,
  con=database
)

In [ ]:
# Q5
# Write a SQL query to calculate the year-over-year change in the pass rate
# for male drivers who are under 24 years old

query="""
SELECT * FROM uk_dvla_data
"""
# Run this command to return the output to a DataFrame
pd.read_sql(
  sql=query,
  con=database
)

In [ ]:
# Q6
# Identify age groups where the pass rate improved year over year from
# 2020 to 2022. Display the percentage increase for each qualifying age group

query="""
SELECT * FROM uk_dvla_data
"""
# Run this command to return the output to a DataFrame
pd.read_sql(
  sql=query,
  con=database
)

In [ ]:
# Q7
# Classify each age group into 'Youth' (ages 17-25), 'Adult' (ages 26-50),
# and 'Senior' (over 50) and calculate the average pass rate for each category

query="""
SELECT * FROM uk_dvla_data
"""
# Run this command to return the output to a DataFrame
pd.read_sql(
  sql=query,
  con=database
)

In [ ]:
# Q8 - https://www.geeksforgeeks.org/check-for-balanced-parentheses-in-an-expression/
# Discuss the logic and implement the code for this problem